.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    user-select: none;
}

.label {
    position: absolute;
    top: 50%;
    /* Centers the top of the label in the middle of the container */
    transform: translateY(-50%);
    /* Moves the label up by half of its own height */
    color: black;
    text-transform: capitalize;
    cursor: text;
    padding: 0 1rem;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.input {
    width: 100%;
    height: 2.5rem;
    padding: 1.25rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    z-index: 2;
}

.input:focus~.label,
.input:not(:placeholder-shown)~.label {
    top: -0.1rem;
    font-size: 0.75rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    background-color: rgba(227, 231, 237, 1.0);
    z-index: 2;
}

.linkContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.forgotPassword {
    font-size: small;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.forgotPassword:hover {
    color: blue;
}