.button {
    width: 100px;
    height: 40px;

    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;

    border: 0;
    user-select: none;
}

.loginButton {
    background-color: rgba(8, 8, 9, 1);
}

.signupButton {
    background-color: rgba(29, 30, 34, 1);
}

.glowEffect {
    --glow-line-color: #059AFF;
    --glow-line-thickness: 1px;
    --glow-line-length: 20px;
    --glow-blur-color: #059AFF;
    --glow-blur-size: 5px;
    --glow-offset: 0px;
    --animation-speed: 1200ms;
    /* do not change, used for calculations */
    --container-offset: 100px;
    position: relative;
}

.glowContainer {
    pointer-events: none;
    position: absolute;
    inset: calc(var(--container-offset) / -2);
    width: calc(100% + var(--container-offset));
    height: calc(100% + var(--container-offset));
    opacity: 0;
}

.glowBlur,
.glowLine {
    width: calc(100% - var(--container-offset) + var(--glow-offset));
    height: calc(100% - var(--container-offset) + var(--glow-offset));
    fill: transparent;
    stroke: black;
    stroke-width: 5px;
    border-radius: 10px;
    stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length));
}

.glowEffect:is(:hover, :focus) :is(.glowLine, .glowBlur) {
    stroke-dashoffset: -80px;
    transition: stroke-dashoffset var(--animation-speed) ease-in;
}

.glowLine {
    stroke: var(--glow-line-color);
    stroke-width: var(--glow-line-thickness);
}

.glowBlur {
    filter: blur(var(--glow-blur-size));
    stroke: var(--glow-blur-color);
    stroke-width: var(--glow-blur-size);
}

.glowEffect:is(:hover, :focus) .glowContainer {
    animation: glow-visibility ease-in-out var(--animation-speed);
}

@keyframes glow-visibility {

    0%,
    100% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 1;
    }
}

.glowEffect[data-glow-animation="false"] {
    --glow-line-length: 50px;
}

.glowEffect[data-glow-offset="true"] {
    --glow-offset: 10px;
}

.glowEffect[data-glow-animation="grow"]:is(:hover, :focus) .glowContainer {
    scale: 1.3;
    transition: scale var(--animation-speed) linear;
}