.tickerCardContainer {
    position: relative;
}

.name {
    font-size: 30px;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.label {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 400;
}

.value {
    font-size: 15px;
    font-weight: 700;
}