.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: #000000;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all 0.3s ease;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cardSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding: 20px;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    padding: 5px;
    overflow: hidden;

    background-color: rgb(140, 148, 155);

    cursor: pointer;
}