.section {
    position: relative;
    width: 90%;
    height: min-content;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: none;
    flex-wrap: nowrap;
    gap: 24px;

    color: white;
    background-color: black;
    border-radius: 15px;
}