:root {
	--border-radius: 4px;
}

ul,
nav,
li {
	list-style: none;
}

html,
body,
#root {
	scrollbar-gutter: stable;
	overflow-x: hidden;
	background-color: rgba(13, 15, 17, 1);
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}